*{
	box-sizing: border-box;
	margin: 0px;
	height: 100%;
	width: 100%;
}

.wrapper {
	border: 1px solid;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle {
	border: 1px solid;
	height: 50%;	
	width: 40%;
}


